@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-magenta: #ff00ff;
  --color-yellow: #ffff00;
  --color-cyan: #00ffff;
  --color-red: #ff0000;
  --color-muted: #555;
  --color-background: #20124d;

  --background-image-grid:
    linear-gradient(--alpha(var(--color-black) / 20%) 2px, transparent 2px),
    linear-gradient(90deg, --alpha(var(--color-black) / 20%) 2px, transparent 2px);
  
  --shadow-panel: 10px 10px 0px --alpha(var(--color-black) / 80%);
  --shadow-button: 6px 6px 0px var(--color-black);
  --shadow-button-active: 2px 2px 0px var(--color-black);
  --text-shadow-title: 4px 4px 0px var(--color-black);

  --font-press: "Press Start 2P", system-ui;

  --cursor-default: url('./assets/cursors/default.svg') 4 1, auto;
  --cursor-text: url('./assets/cursors/text.svg') 16 16, auto;
  --cursor-pointer: url('./assets/cursors/pointer.svg') 13 5, auto;
}

@layer base {
  :is(
    input:not([type]),
    input[type="text"]
  ):not(:disabled) {
    cursor: var(--cursor-text);
  }

  :is(
    button,
    [role="button"],
    a
  ):not(:disabled) {
    cursor: var(--cursor-pointer);
  }
}

:root {
  color-scheme: dark;
}
